$blue: (
  // 字体
  font_color: #00a5e5,
  // 按钮背景
  background_color: #00a5e5,
  // 鼠标划过
  background_hover_color: #0094ce,
  // 禁用
  background_disable_color: #ccedfa,
  // 边框颜色
  border_color: #00a5e5
);
