$ucode-website: (
  // 字体
  font_color: #7284fb,
  // 按钮背景
  background_color: #7284fb,
  // 鼠标划过
  background_hover_color: #6676e1,
  // 禁用
  background_disable_color: #e6eaff,
  // 边框颜色
  border_color: #7284fb
);
